<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layout/main">

<body>
<div layout:fragment="content">
    <section class="offer mb-3 mt-3">
        <div class="row text-center">
            <div class="col">
                <h2 class="offer-heading">Welcome to DEKANAT</h2>
            </div>
        </div>
    </section>
    <section class="shop">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">SURNAME</th>
                    <th scope="col">EXAM</th>
                    <th scope="col">MARK</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}"
                    th:style="${student.getExam() > 50 ? 'color:green;' : 'color:red;'}">
                    <th scope="row" th:text="${student.getId()}"></th>
                    <td th:text="${student.getName()}"></td>
                    <td th:text="${student.getSurname()}"></td>
                    <td th:text="${student.getExam()}"></td>
                    <td th:text="${student.getMark()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

</body>
</html>